In [34]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 100

In [23]:
with open ("columns.txt", "r") as file:
    columns = file.readline().split(",")

columns = [col.strip() for col in columns]

In [35]:
df = pd.read_csv("test.csv", header=None)
df.columns= columns
df

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 27
0,2018-01-01,UA,1973,SFO,SAN,2025,2021.0,-4.0,20.0,2041.0,2148.0,2.0,2159,2150.0,-9.0,0.0,NaN,0.0,94.0,89.0,67.0,447.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,1274,MSP,DEN,850,848.0,-2.0,14.0,902.0,941.0,31.0,1008,1012.0,4.0,0.0,NaN,0.0,138.0,144.0,99.0,680.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,927,ORD,LAX,830,900.0,30.0,16.0,916.0,1109.0,23.0,1113,1132.0,19.0,0.0,NaN,0.0,283.0,272.0,233.0,1744.0,0.0,0.0,19.0,0.0,0.0,NaN
3,2018-01-01,UA,211,BOS,EWR,1240,1637.0,237.0,18.0,1655.0,1747.0,8.0,1415,1755.0,220.0,0.0,NaN,0.0,95.0,78.0,52.0,200.0,0.0,0.0,8.0,0.0,212.0,NaN
4,2018-01-01,B6,529,FLL,SAN,1725,1737.0,12.0,20.0,1757.0,2021.0,5.0,2012,2026.0,14.0,0.0,NaN,0.0,347.0,349.0,324.0,2269.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7214,2018-12-31,WN,4040,MDW,SAN,835,848.0,13.0,17.0,905.0,1106.0,3.0,1110,1109.0,-1.0,0.0,NaN,0.0,275.0,261.0,241.0,1728.0,NaN,NaN,NaN,NaN,NaN,NaN
7215,2018-12-31,WN,5168,SAN,OAK,1415,1453.0,38.0,11.0,1504.0,1616.0,5.0,1545,1621.0,36.0,0.0,NaN,0.0,90.0,88.0,72.0,446.0,0.0,0.0,0.0,36.0,0.0,NaN
7216,2018-12-31,WN,777,SJU,MCO,1900,1859.0,-1.0,10.0,1909.0,2048.0,6.0,2105,2054.0,-11.0,0.0,NaN,0.0,185.0,175.0,159.0,1189.0,NaN,NaN,NaN,NaN,NaN,NaN
7217,2018-12-31,F9,157,DSM,DEN,1959,2002.0,3.0,54.0,2056.0,2135.0,8.0,2102,2143.0,41.0,0.0,NaN,0.0,123.0,161.0,99.0,589.0,3.0,0.0,38.0,0.0,0.0,NaN
7218,2018-12-31,OO,4602,MSP,DLH,1933,1938.0,5.0,33.0,2011.0,2039.0,4.0,2046,2043.0,-3.0,0.0,NaN,0.0,73.0,65.0,28.0,144.0,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7219 entries, 0 to 7218
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              7219 non-null   object
 1   op_carrier           7219 non-null   object
 2   op_carrier_fl_num    7219 non-null   int64
 3   origin               7219 non-null   object
 4   dest                 7219 non-null   object
 5   crs_dep_time         7219 non-null   int64
 6   dep_time             7098 non-null   float64
 7   dep_delay            7097 non-null   float64
 8   taxi_out             7095 non-null   float64
 9   wheels_off           7095 non-null   float64
 10  wheels_on            7093 non-null   float64
 11  taxi_in              7093 non-null   float64
 12  crs_arr_time         7219 non-null   int64
 13  arr_time             7093 non-null   float64
 14  arr_delay            7074 non-null   float64
 15  cancelled            7219 non-null   float64
 16  cancellation_code    124 non-null    object
 17  diverted             7219 non-null   float64
 18  crs_elapsed_time     7219 non-null   float64
 19  actual_elapsed_time  7078 non-null   float64
 20  air_time             7078 non-null   float64
 21  distance             7219 non-null   float64
 22  carrier_delay        1366 non-null   float64
 23  weather_delay        1366 non-null   float64
 24  nas_delay            1366 non-null   float64
 25  security_delay       1366 non-null   float64
 26  late_aircraft_delay  1366 non-null   float64
 27  unnamed: 27          0 non-null      float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.5+ MB