In [4]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 100

In [5]:
with open ("headers_2018.txt", "r") as file:
    columns = file.readline().split(",")

columns = [col.strip() for col in columns]

In [8]:
df = pd.read_csv("test_2018.csv", header=None)
df.columns= columns
df

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed
0,2018-01-01,UA,508,EWR,IAH,800,753.0,-7.0,19.0,812.0,1059.0,9.0,1106,1108.0,2.0,0.0,NaN,0.0,246.0,255.0,227.0,1400.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,AS,90,ANC,SEA,1405,1416.0,11.0,7.0,1423.0,1831.0,8.0,1830,1839.0,9.0,0.0,NaN,0.0,205.0,203.0,188.0,1448.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,9E,3897,DTW,PHL,1230,1257.0,27.0,21.0,1318.0,1426.0,5.0,1410,1431.0,21.0,0.0,NaN,0.0,100.0,94.0,68.0,453.0,0.0,0.0,0.0,0.0,21.0,NaN
3,2018-01-01,9E,4130,LGA,BUF,1124,1153.0,29.0,21.0,1214.0,1308.0,7.0,1255,1315.0,20.0,0.0,NaN,0.0,91.0,82.0,54.0,292.0,20.0,0.0,0.0,0.0,0.0,NaN
4,2018-01-01,B6,167,JFK,OAK,2059,2122.0,23.0,25.0,2147.0,11.0,5.0,39,16.0,-23.0,0.0,NaN,0.0,400.0,354.0,324.0,2576.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7256,2018-12-31,F9,423,ATL,DEN,2141,2130.0,-11.0,21.0,2151.0,2245.0,22.0,2311,2307.0,-4.0,0.0,NaN,0.0,210.0,217.0,174.0,1199.0,NaN,NaN,NaN,NaN,NaN,NaN
7257,2018-12-31,OO,5277,ORD,CHA,1440,1435.0,-5.0,35.0,1510.0,1743.0,8.0,1724,1751.0,27.0,0.0,NaN,0.0,104.0,136.0,93.0,500.0,0.0,0.0,27.0,0.0,0.0,NaN
7258,2018-12-31,OO,5427,OKC,SFO,745,739.0,-6.0,19.0,758.0,917.0,3.0,955,920.0,-35.0,0.0,NaN,0.0,250.0,221.0,199.0,1384.0,NaN,NaN,NaN,NaN,NaN,NaN
7259,2018-12-31,OO,5731,SFO,RNO,1505,1456.0,-9.0,14.0,1510.0,1548.0,3.0,1615,1551.0,-24.0,0.0,NaN,0.0,70.0,55.0,38.0,192.0,NaN,NaN,NaN,NaN,NaN,NaN
7260,2018-12-31,AA,460,PHX,ORD,1312,1309.0,-3.0,10.0,1319.0,1714.0,14.0,1744,1728.0,-16.0,0.0,NaN,0.0,212.0,199.0,175.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7261 entries, 0 to 7260
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              7261 non-null   object
 1   op_carrier           7261 non-null   object
 2   op_carrier_fl_num    7261 non-null   int64
 3   origin               7261 non-null   object
 4   dest                 7261 non-null   object
 5   crs_dep_time         7261 non-null   int64
 6   dep_time             7151 non-null   float64
 7   dep_delay            7145 non-null   float64
 8   taxi_out             7150 non-null   float64
 9   wheels_off           7150 non-null   float64
 10  wheels_on            7148 non-null   float64
 11  taxi_in              7148 non-null   float64
 12  crs_arr_time         7261 non-null   int64
 13  arr_time             7148 non-null   float64
 14  arr_delay            7123 non-null   float64
 15  cancelled            7261 non-null   float64
 16  cancellation_code    111 non-null    object
 17  diverted             7261 non-null   float64
 18  crs_elapsed_time     7261 non-null   float64
 19  actual_elapsed_time  7126 non-null   float64
 20  air_time             7126 non-null   float64
 21  distance             7261 non-null   float64
 22  carrier_delay        1368 non-null   float64
 23  weather_delay        1368 non-null   float64
 24  nas_delay            1368 non-null   float64
 25  security_delay       1368 non-null   float64
 26  late_aircraft_delay  1368 non-null   float64
 27  unnamed              0 non-null      float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.6+ MB

In [11]:
df.cancelled.value_counts()

0.0    7150
1.0     111
Name: cancelled, dtype: int64